<div class="container">
  <div class="content">
    <form class="routine-form">
      <div class="programDetails">
        <h1>Create a Program</h1>
        <md-input-container class="form-control">
          <input type="text" mdInput placeholder="Name" name="title" [(ngModel)]="title" [formControl]="programTitleControl" required>
          <md-error *ngIf="programTitleControl.hasError('required')">
            Title is <strong>required</strong>
          </md-error>
        </md-input-container>
        <md-input-container class="form-control">
          <textarea mdInput placeholder="Short Description" name="description" maxlength="256" 
            [(ngModel)]="description" [formControl]="descriptionFormControl" required></textarea>
          <md-error *ngIf="descriptionFormControl.hasError('required')">
            Description is <strong>required</strong>
          </md-error>
        </md-input-container>
        <md-select placeholder="Choose Difficulty" class="form-control" name="difficulty" 
            [(ngModel)]="difficulty" [formControl]="difficultiesFormControl" required>
        <md-option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </md-option>
      </md-select>
      </div>
      <div *ngIf="currentUpload">
        <div class="progress">
          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
        </div>
        Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
      </div>
      <div>
        <p>Set an image *</p>
        <label>
          <input type="file" (change)="detectFiles($event)">
        </label>
      </div>
    </form>
      <h2>Everyday Workouts</h2>
      <div class="week">
        <div *ngFor="let day of days; let d = index" class="day" [style.background-color]="getDayColor(day)">
          <button type="button" class="removeBtn" (click)="removeDay(d)">X</button>
          <p class="dayCount">{{'Day '}}{{d+1}}</p>
          <ng-container *ngIf="day.workout != null; else elseTemplate">
            <p>{{day.workout.title}}</p>
          </ng-container>
          <ng-template #elseTemplate>
            <p>Rest Day</p>
          </ng-template>
        </div>
          <div class="day">
            <button class="showFormBtn" (click)="getAddForm(formScroller)" md-raised-button>Add</button>
            <button class="showFormBtn" (click)="skipDay()"  md-raised-button>Rest Day</button>
          </div>
      </div>
  </div>
  <div submission-container>
    <button type="button" (click)="addProgram()" id="createProgramBtn" class="success" [disabled]="!programForm.valid  || days.length == 0 || !imageChosen" 
      md-raised-button>Create Program</button>
  </div>
  <div class="form-container" [ngClass]="{'hidden': add==false}" #formScroller>
    <form class="workout-form" (ngSubmit)="addWorkout()">
    <h1>Choose Workout</h1>
    <md-select placeholder="Choose Workout" class="form-control" name="workout" 
        [formControl]="workoutsFormControl" [(ngModel)]="workoutTitle" required>
      <md-option *ngFor="let workout of workouts" [value]="workout.title">
        {{workout.title}}
      </md-option>
    </md-select>
    <button type="submit" class="success" [disabled]="!wokroutForm.valid" md-raised-button>Add</button>
    <button type="button" (click)="hideAddForm()" md-raised-button>Cancel</button>
  </form>
    <app-create-workout (onCreate)="addNewWorkout($event)" (onHide)="hideAddForm()"></app-create-workout>
  </div>
 </div> 