<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<div class="home-container">
    <h1>Welcome to </h1>
    <h1>
        <p>HEALTHY LIFESTYLE<p>
    </h1>
    <h2>Here you can discover</h2>
    <div class="details">
        <!-- <md-grid-list cols="3"> -->
            <!-- <md-grid-tile [rowspan]="1"> -->
                <md-card class="card">
                    <md-card-header>
                        <md-card-title>
                            <h3>The best food recipes and tips</h3>
                        </md-card-title>
                    </md-card-header>
                    <a routerLink="/recipes/all">
                        <img md-card-image src="../../../assets/images/avocado_toast.jpg">
                    </a>
                </md-card>
            <!-- </md-grid-tile> -->

            <!-- <md-grid-tile [rowspan]="1"> -->
                <md-card class="card">
                    <md-card-header>
                        <md-card-title>
                            <h3>Fun and relaxing outdoor activities</h3>
                        </md-card-title>
                    </md-card-header>
                    <a routerLink="/activities/all">
                        <img md-card-image src="../../../assets/images/outdoor_activities.jpg">
                    </a>
                </md-card>
            <!-- </md-grid-tile> -->

            <!-- <md-grid-tile [rowspan]="1"> -->
                <md-card class="card">
                    <md-card-header>
                        <md-card-title>
                            <h3>Many complex fitness programs</h3>
                        </md-card-title>
                    </md-card-header>
                    <a routerLink="/programs">
                        <img md-card-image src="../../../assets/images/fitness.jpg">
                    </a>
                </md-card>
            <!-- </md-grid-tile> -->
        <!-- </md-grid-list> -->
    </div>


    <!-- <div class="details"> -->

    <!-- <div class="item">
            <h2><em>The best food recipes and tips</em></h2>
            <img src="../../../assets/images/food.jpeg" alt="">
        </div>
        <div class="item">
            <h2><em>Fun and relaxing outdoor activities</em></h2>
            <img src="../../../assets/images/Outdoor-activitiesimage.gif" alt="">
        </div>
        <div class="item">
            <h2><em>Many complex fitness programs</em></h2>
            <img src="../../../assets/images/fitness.jpg" alt="">
        </div> -->
    <!-- </div> -->
</div>