.program-container {
      margin: 5% 0%;
      border: solid 1px #636363;
      border-radius: 5px;
      width: 100%;
}

md-card md-icon {
      color: #96c421;
}

md-card {
      width: 60%;
}

a {
      text-decoration: none;
      cursor: pointer;
      color: #4A4A4A;
      font-weight: bold;
}

a:hover {
      text-decoration: underline;
}

.container {
      padding: 0 100px;
      width: 100%;
}

.subnav {
      text-align: right;
      clear: both;
}

.img{
      height: 50%;
}

/* md-card-content p {
      margin-top: 25px;
} */

rating {
      float: right;
}

.content-container {
      width: 50%;
      margin-left: 15%;
}

.difficulty {
      padding: 1%;
      border: 1px solid;
      border-radius: 30%;
      float: left;
      margin-left: 2%;
}

.name {
      float:left;
      margin-top: 1%;
}

.desciption {
      width: 60%;
      overflow: hidden;
      clear: both;
      padding: 4% 0%;
}

.subnav {
    text-align: right;
    clear: both;
    padding-right: 30%;
}

.map-btn{
    position: fixed;
    right: 3%;
    margin-top: 4%;
    margin-right: 5%;
}

input[type=text]{
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}