.workout-form{
    padding: 20px 100px;
    color: #3D3838;
  }
  
h2 {
    padding:0 100px;
    color: #3D3838;
  }

.form-control, md-select md-option{
  width: 100%;
  font-size: 1.2em;
}

button{
  color: #000;
}

div{
  padding-bottom: 20px;
}

md-input-container{
  margin-bottom: 20px;
}

md-select {
  margin-bottom: 0.4%;
}
.preview{
  width: 80%;
  margin: 10px 20px 50px;
}

button.success {
  background: #b39cdb;
  color: #fff;
}

button.cancel {
  color: #b39cdb;
}

button.routine {
  margin-bottom: 4%;
}
