<!-- <div class="container">
    <div class="subnav">
        <button md-button [mdMenuTriggerFor]="byTitle">
            <md-icon>sort</md-icon>
            Order by Title
        </button>
        <md-menu #byTitle="mdMenu">
            <button md-menu-item (click)="orderBy('title', -1)">
                    <md-icon>arrow_upward</md-icon>
                      <span>Order Ascending</span>
                    </button>
            <button md-menu-item (click)="orderBy('title', 1)">
                    <md-icon>arrow_downward</md-icon>
                    <span>Order Descending</span>
            </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="byDate">
            <md-icon>sort</md-icon>
            Order by Date
        </button>
        <md-menu #byDate="mdMenu">
            <button md-menu-item (click)="orderBy('createdOn', -1)">
                      <md-icon>arrow_upward</md-icon>
                      <span>Order Ascending</span>
                    </button>
            <button md-menu-item (click)="orderBy('createdOn', 1)">
                      <md-icon>arrow_downward</md-icon>
                      <span>Order Descending</span>
                    </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="create">
                <md-icon>add</md-icon>
                Create
        </button>
        <md-menu #create="mdMenu">
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Recipe</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/activities/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Activity</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/workouts/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Workout</span>
            </button>
        </md-menu>
    </div>
</div> -->
<div class="content">
    <h1>{{title}}</h1>
    <p class="desctription">
        <span>{{description}}</span>
    </p>
    <div class="week">
        <div *ngFor="let day of days; let d = index" class="day" [style.background-color]="getDayColor(day)">
            <p class="dayCount">{{'Day '}}{{d+1}}</p>
            <ng-container *ngIf="day.workout != null; else elseTemplate">
                <p><a href="/programs/workouts/{{day.workout.title}}">{{day.workout.title}}</a></p>
            </ng-container>
            <ng-template #elseTemplate class="restDay">
                <p>Rest Day</p>
            </ng-template>
        </div>
  </div>
</div>
