.container {
  width: 60%;
  margin: 0 auto;
  }
  
h2 {
  margin-bottom: 40px;
  }

.form-control{
  width: 90%;
  }

.form-control, md-select md-option {
    font-size: 1.2em;
  }

.btn-container {
    width: 30%;
    margin: 0 auto;
  }

.btn-container button {
    margin: 5%;
    }

.upload button {
    margin-top: 2%;
}

.upload {
  margin-bottom: 2%;
  }

md-input-container, md-select{
    margin-bottom: 20px;
  }